  html,
  body {
    margin: 0;
  }

  body {
    /*position: fixed;*/
    width: 100%;
    height: 100%;
    overflow: hidden
  }

  #app {
    height: 100%
  }

  .left-block {
    display: block;
    float: left !important;
  }

  .right-block {
    display: block;
    float: right !important;
  }
#main-header .logo {
    height: 60px;
    padding: 15px;
    line-height: 30px;
    font-family: 'SimHei';
    font-size: 1.3em;
    text-align: center;
    color: #1D8CE0;
  }

  @media (min-width: 768px) {
    #main-header .logo {
      border-right: 1px solid #fff;
    }
  }
  #main-body .aside-menu-warpper,
  #main-body .main-section,
  #main-body .main-section .section {
    height: 100%
  }

  #main-body .main-section .section {
    padding: 8px;
    box-sizing: border-box;
    overflow: auto
  }

  #main-body .main-section .section .breadcrumb {
    padding: 8px;
    border-bottom: 1px solid #d1dbe5;
  }

  #main-body .main-section .section section {
    position: relative;
    overflow: auto;
    padding: 16px 8px;
    box-sizing: border-box
  }

  .el-menu-item i.fa,
  .el-submenu i.fa {
    vertical-align: baseline;
    margin-right: 10px;
  }

  .list-item .index {
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid #d1dbe5;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
    text-align: center;
    font-size: 0.8em;
    transition: box-shadow 500ms linear, -webkit-transform 500ms linear, -moz-transform 500ms linear, -o-transform 500ms linear, transform 500ms linear, background-color 500ms linear
  }

  .list-item .index:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    transform: translate3d(0, -2px, 0)
  }

  .list-item .index .to {
    display: block;
    text-decoration: none;
    color: #20a0ff;
    transition: color 250ms linear
  }

  .list-item .index .to i {
    font-size: 2.5em;
    color: #1d90e6;
    transition: color 250ms linear
  }

  .list-item .index:hover .to,
  .list-item .index:hover .to i {
    color: #8BC34A;
  }

  .list-item .index .to div {
    margin-top: 10px
  }

  .table-condensed tbody>tr>td>.cell, .table-condensed tbody>tr>th>.cell, .table-condensed tfoot>tr>td>.cell, .table-condensed tfoot>tr>th>.cell, .table-condensed thead>tr>td>.cell, .table-condensed thead>tr>th>.cell {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.9em
  }

  @media screen and (min-width: 768px) {
    #main-body {
      position: absolute;
      height: 92%;
      width: 100%
    }
    /*.aside-menu-warpper {
      position: fixed
    }*/
    #main-body .main-section {
      position: absolute;
      right: 0;
    }
  }
